<div class="container">
  <div class="row">
    <form>
      <div class="form-group row">
        <label for="addressInput" class="col-sm-2 col-form-label">検索場所：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="addressInput" value="札幌" placeholder="近江市場">
        </div>
      </div>
      <div class="form-group row">
        <label for="keywordInput" class="col-sm-2 col-form-label">Keyword:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="keywordInput" value="カフェ" placeholder="寿司">
        </div>
      </div>

      <button class="btn-border my-3" type="button" value="Search" onclick="getPlaces();">
        <i class="fas fa-search p-2"></i>Search
      </button>
    </form>
  </div>

  <div class="row">
    <i class="fa-solid fa-mug-saucer"></i>結果<br />
    <div id="results"
      style="width: 100%; height: 200px; border: 0px dotted; padding: 10px; overflow-y: scroll; background: white;">
    </div>
  </div>

</div>
