/*その他と主な共通部分は省略*/

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 5px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #000;
}

.btn-border:hover {
  color: #fff;
  background: #000;
}

.btn-border:hover:before {
  background: #fff;
}

.button_close {
  border-radius: 4px;
  margin-left: 18px;
  margin-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  background-color: cadetblue;
  color: white;
  top: 5px;
  right: 5px;
  position: absolute;
}
